footer
    div.container.text-left
        p Card Search contains data that is Copyright © Wizards of the Coast - All Rights Reserved
        p This website is not affiliated with Wizards of the Coast in any way.