extends layout

block content
    h1= title
    p This small project is to allow me to search for Magic: The Gathering cards using some search methods I haven't found elsewhere.
    p A special thanks to the #[a(href="https://www.mtgjson.com") MTG JSON], #[a(href="https://github.com/andrewgioia/Keyrune") Keyrune], and #[a(href="https://github.com/andrewgioia/Mana") Mana] projects for providing the resources to help make this site.
