html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 105px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 90px;
    background-color: #f5f5f5;
    padding: 25px 0px;
}

footer p, footer ul {
    margin-bottom: 0;
}

.form-login, .form-signup {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.alert {
    text-align: center;
}

.nav-tabs + .tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 15px;
    border-radius: 4px;
}

.group-left {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    display: inline;
    width: 15%;
}

.group-right {
    display: inline;
    width: 85%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
}

.ss {
    font-size: 18px;
}

.ss.ss-large {
    font-size: 32px;
}

table.set > tbody > tr > td {
    vertical-align: middle;
}

.clickable {
    cursor: pointer;
}

.name {
    white-space: pre-line;
}

.mana-cost {
    white-space: nowrap;
}

.oracle-text {
    white-space: pre-line;
}

.input-group > .form-control > .dropdown-toggle {
    border-radius: 0px;
}


