html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 105px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 90px;
    background-color: #f5f5f5;
    padding: 25px 0px;
}

footer p, footer ul {
    margin-bottom: 0;
}

.form-login, .form-signup {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.alert {
    text-align: center;
}

.nav-tabs + .tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 15px;
    border-radius: 4px;
}

.group-left {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    display: inline;
    width: 15%;
}

.group-right {
    display: inline;
    width: 85%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
}

.ss {
    font-size: 18px;
}

.ss.ss-large {
    font-size: 32px;
}

table.set > tbody > tr > td {
    vertical-align: middle;
}

.clickable {
    cursor: pointer;
}

.pointer:hover {
    cursor: pointer;
    text-decoration: none;
}

.name {
    white-space: pre-line;
}

.mana-cost {
    white-space: nowrap;
}

.oracle-text {
    white-space: pre-line;
}

.input-group > .form-control > .dropdown-toggle {
    border-radius: 0px;
}

input[type=checkbox].ms, input[type=radio].ms {
    display: none;
}

input[type=checkbox].ms + label, input[type=radio].ms + label {
    background-color: lightgray;
    color: darkgray;
    cursor: pointer;
}

input[type=checkbox].ms:checked + label.ms-r, input[type=radio].ms:checked + label.ms-r {
    background-color: #DB8664;
    color: #111;
}

input[type=checkbox].ms:checked + label.ms-w, input[type=radio].ms:checked + label.ms-w {
    background-color: #F0F2C0;
    color: #111;
}

input[type=checkbox].ms:checked + label.ms-g, input[type=radio].ms:checked + label.ms-g {
    background-color: #93B483;
    color: #111;
}

input[type=checkbox].ms:checked + label.ms-b, input[type=radio].ms:checked + label.ms-b {
    background-color: #ACA29A;
    color: #111;
}

input[type=checkbox].ms:checked + label.ms-u, input[type=radio].ms:checked + label.ms-u {
    background-color: #B5CDE3;
    color: #111;
}

.image-portrait {
    width: 95px;
    height: 132px;
    border-radius: 6px;
    background-color: lightgrey;
}

.image-landscape {
    width: 132px;
    height: 95px;
    border-radius: 6px;
    background-color: lightgrey;
}

.back {
    margin: 20px;
}



